 .home-container {
     margin: 3%;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 15px;
 }

 .category-container {
     padding: 2px;
     display: flex;
     align-items: center;
     justify-content: center;
     box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
     /*color: rgba(4, 5, 51, 0.76);
     backdrop-filter: blur(10px);*/
 } 

 .category-car-image {
     width: 345px;
     height: 400px;
     border: 2px solid rgba(72, 73, 105, 0.76);
     transition: transform 0.2s ease-in-out;
 }

 .category-car-image:hover{
    transform: scale(1.03);
 }