footer {
    margin: 1%;
    padding: 1%;
    margin-bottom: 0;
    border-top: 1px solid rgba(207, 207, 219, 0.76);
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 47px;
    font-size: 14px;
}

footer:hover{
    color: azure;
}


.whatsapp-icon,
.email-icon {
    width: 35px;
}

.contact {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact-us {
     color: rgb(240, 211, 173);
     text-decoration: underline;
     text-underline-offset: 3px;
}

.phone-nbr,
.email {
    display: flex;
    align-items: center;
    gap: 12px;
}

.copyright {
    text-align: center;
}