.menu-bar {
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-top: none;
}

.menu-links {
    border: 1px solid rgba(72, 73, 105, 0.76);
    border-radius: 15px;
    width: 135px;
    padding: 7px;
    text-align: center;
    font-style: italic;
    text-decoration: none;
    background-image: linear-gradient(15deg, #0e2d49, #a0bedb, rgb(247, 232, 232), #f8d3a2);
    transition: transform 0.2s ease-in-out;
    }

    .menu-links:hover{
        transform: scale(1.07);
    }

