.cars-page {
    margin-top: 3%;
    margin-bottom: 3%;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    place-self: center;
    gap: 35px;
    color: rgb(85, 16, 16);
    font-weight: bold;
}

.car-infos-container{
    padding: 3px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    border-radius: 8px;
/* background-image: linear-gradient(to right, violet, purple);
background-image: linear-gradient(to right, rgb(206, 114, 114), rgb(209, 59, 59));*/


}

.car-image {
    width: 248px;
    height: 280px;
    padding: 1px;
    border: 1px solid rgb(255, 168, 168);
    border-radius: 8px;
     transition: transform 0.2s ease-in-out;
}

.car-image:hover{
transform: scale(1.03);
}

.car-infos{
    height: 70px;
    width: 100%;
}

.book-link{
    border-radius: 8px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
    width: 85%;
    height: 25px;
    text-align: center;
    background-color: rgb(209, 59, 59);
}