body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  backdrop-filter: blur(7px);
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
  color: rgba(4, 9, 19, 0.76);
}

a,link:visited  {
  color: rgba(8, 9, 32, 0.76);
}
